#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-button {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.fancy-header {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #0026ff, #008a07);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.category-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.styled-hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, #0026ff, #008a07);
    margin: 20px 0;
    width: 90%;
}

.help {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    width: 50%;
}
