.details-btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.category-name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

thead {
    background-color: #f4f4f4;
}

th {
    /* background-color: #007bff; */
    color: black;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eaeaea;
}

tbody tr {
    transition: background-color 0.3s ease;
}

td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}
