.details-btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.category-name {
    font-size: 2em; /* Increase font size */
    font-weight: bold; /* Make it bold */
    color: #333; /* Dark gray color */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
    padding: 8px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}
