.file-upload-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 8px;
    display: inline;
    width: fit-content;
    cursor: pointer;
}

.file-upload-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.file-input {
    display: none;
}

.file-upload-button {
    display: inline;
    padding: 8px 16px;
    color: #000000;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
